name: Release

on:
  push:
    tags:
      - v*

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-qemu-action@v3

      - id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/amd64,linux/arm64

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: build
        run: |
          docker buildx build --no-cache --push \
            --platform ${{ steps.buildx.outputs.platforms }} \
            --tag ghcr.io/${{ github.actor }}/unpack:latest \
            --tag ghcr.io/${{ github.actor }}/unpack:${{ github.ref_name }} \
            .
